<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <title>Overflow Clone</title>
</head>

<body>

    <div class="container">
        <header style=" display: flex; flex-direction: row; justify-content: space-between; padding: 20px 0 20px 0;">
            <a href="/" class="btn btn-primary">Home</a>
            <div>
                <a href="/signup" class="btn btn-primary">Sign up</a>
                <a href="/login" class="btn btn-primary">Login</a>
                <a href="/logout" class="btn btn-primary">Logout</a>
            </div>

        </header>
        <header class="jumbotron">
            <h1>Overflow Clone</h1>
        </header>
        <section style=" display: flex; flex-direction: row; justify-content: center; padding: 20px 0 20px 0;">
            <a href="/post" class="btn btn-primary">Post Question</a>
        </section>
        <section style=" display: flex; flex-direction: row; justify-content: center; padding: 20px 0 20px 0;">
            Sort By:
                <a href="/home/tag" class="btn btn-primary">Tag</a>
                <a href="/home/new" class="btn btn-primary">Newest</a>
                <a href="/home/upvote" class="btn btn-primary">Most Upvoted</a>
                <a href="/home/unanswered" class="btn btn-primary">Unanswered</a>
        </section>
        <div class="row">
            <div class="col">
                empty
            </div>
            <div class="col">
                <div class="row">
                    <h4 class="col">Feed</h4>
                </div>
                {% for question in questions %}
                <div class="card">
                    <h6>{{question.author.name}} || {{question.date}}</h6>
                    {{question.body}}
                    <br>
                    Tags: {% for tag in question.tags.all %}
                    {{tag.title}}
                    {%endfor%}
                </div>
                {% endfor %}
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        empty
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        empty
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>