<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Author Details</title>
</head>
<body>
    <div>
        <div>
                <h1>{{user}}'s profile</h1>
        </div>
        <hr>
        <div>

            <h2>About {{user}}</h2>
                <h3>{{user.bio}}</h3>
                    {% if user.id == current_user.id %}
                        <p>
                            <a href="/settings/">Edit my bio</a>
                        </p>
                    {% endif %}
        </div>
        <hr>
        <div>
            <h2>Questions</h2>
                {% for question in questions %}

                    <a href="/question/{{question.id}}"><h2>{{ question.body }}</h2></a>

                {% endfor %}
        </div>
        <hr>
        <div>
                <H1>Reputation</H1>
                <p>{{user.reputation}}</p>
        </div>
    </div>
</body>
</html>


